# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Environment variables
.env

# MLflow local files
mlruns/
mlflow.db

# Local databases
*.db
*.sqlite
*.sqlite3

# Generated telemetry
data/processed/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/

# Logs
*.log